body {
    font-family: Arial, sans-serif;
    background-color: #f571a8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(161, 46, 109);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
}

h1 {
    text-align: center;
}

.menu, .cart, .payment, .message {
    margin-top: 20px;
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pizza {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    width: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.cart-item {
    border-bottom: 1px solid #dd8e8e;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-total {
    text-align: right;
    margin-top: 10px;
}

button {
    background-color: #c351f0;
    color: rgb(245, 210, 158);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #84e4eb;
    cursor: not-allowed;
}

button.decrement, button.increment {
    padding: 5px 10px;
}